.birdseye h2 {
    text-align: center;
    font-family: 'Neuton', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    text-shadow: 0 1px #fff;
}

.birdseye h3 {
    font-weight: 700;
    text-shadow: 0 1px #fff;
}

.birdseye h4 {
    text-align: center;
    margin-top: 10px;
}

.birdseye li a {
    font-size: 15pt;
    font-weight: 500;
    line-height: 1.3;
}

.birdseye li a:hover {
    border-bottom: 2px dashed #363636;
    cursor: pointer;
}

.birdseye li .selected {
    color: #9B6B00;
    border-bottom: 2px dashed #9B6B00;
}

#locations.content {
    background-image: url('../img/bg.png');
    padding: 20px;
    border: 1px solid #9f9f9f;
    border-bottom: 3px solid #9f9f9f;
}

.birdseye {
}

.birdseye .pane {
    float: left;
    width: 20%;
    background-image: url('../img/bg.png');
}

.birdseye .pane ul {
    height: 250px;
    overflow-y: scroll;
}

#map-container {
    overflow-x: hidden;
}

#google-map {
    display: none;
    width: calc(100%-20px);
    height: 250px;
    margin-left: 20px;
}

#poiDetails {
    margin-top: 20px;
    margin-left: 20px;
}
#poiDetails .address p {
    text-align: center;
    text-indent: 0;
    line-height:15pt;
}

#region-map {
    width: auto;
}

/** d3 shit **/

.subunit {
    fill: rgba(228, 228, 228, 0.90);
}
.subunit#CA,
.subunit#OR,
.subunit#NY,
.subunit#CT {
    fill: rgba(44, 43, 43, 0.9);
    transition: all 0.5s ease-in-out;
}

.subunit#CA:hover,
.subunit.hover#CA,
.subunit.selected#CA,
.subunit#OR:hover,
.subunit.hover#OR,
.subunit.selected#OR,
.subunit#NY:hover,
.subunit.hover#NY,
.subunit.selected#NY,
.subunit#CT:hover,
.subunit.hover#CT,
.subunit.selected#CT {
    fill: #9B6B00;
    cursor: pointer;
}
.subunit-boundary {
    fill: none;
}

.place {
    fill: rgba(44, 43, 43, 0.9);
    stroke-width: 0.5;
}

@-webkit-keyframes 'blink' {
    0% { fill: rgba(44,43,43,1); }
    50% { fill: rgba(44,43,43,0.5); }
    100% { fill: rgba(44,43,43,1); }
}

.place.hover {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;
}

.poi-details {
    margin-top: 20px
}

.poi-details .poi-images {
    float: left;
}

.poi-details .poi-image-li {
    width: 540px;
}

.poi-image {
    width: 540px;
}
