<div id="locations" class="content">
    <h1>Locations</h1>
    <section class="this-should-not-be-a-class-but-best-practices birdseye clearfix">
        <div id="regions" class="pane">
            <ul>
                <li ng-repeat="region in regions" ng-click="region.select()" ng-mouseover="region.hoverOn()" ng-mouseleave="region.hoverOff()"><a class="{{region.selected ? 'selected' : ''}}">{{region.name}}</a></li>
            </ul>
        </div>
        <div id="sub-regions" class="pane">
            <ul>
                <li ng-repeat="subregion in subregions" ng-click="subregion.select()"><a class="{{subregion.selected ? 'selected' : ''}}">{{subregion.name}}</a></li>
            </ul>
        </div>
        <div id="poi" class="pane">
            <ul>
                <li ng-repeat="point in poi"><a>{{point.name}}</a></li>
            </ul>
        </div>
        <div id="map-container">
            <div id="region-map">
            </div>
        </div>
    </section>
</div>
